@page "/documentation-complete"

<div class="container text-center">
    <div class="alert alert-success" role="alert">
        <i class="fas fa-check-circle"></i> Documentation has been successfully generated!
    </div>
</div>

@code {

}
